[submodule "vendor/alacritty"]
	path = vendor/alacritty
	url = https://github.com/alacritty/alacritty
[submodule "third_party/pal"]
	path = third_party/pal
	url = git@github.com:binRick/pal.git
[submodule "third_party/ansi"]
	path = third_party/ansi
	url = https://github.com/fidian/ansi.git
[submodule "third_party/vtebench"]
	path = third_party/vtebench
	url = https://github.com/alacritty/vtebench.git
